@font-face {
  font-family: sans7, Roboto;
  src: url("../app/fonts/basic_sans_serif_7.ttf");
}
.white {
  color: #fff;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  background: #a8a8a8;
}
input,
button {
  outline: none;
}
a:hover {
  text-decoration: none;
  outline: none;
}
.S {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: inline-block;
}
.S-r0 {
  width: 69px;
  height: 58px;
  background-position: -3px -3px;
}
.S-r1 {
  width: 56px;
  height: 53px;
  background-position: -78px -3px;
}
.S-r2 {
  width: 54px;
  height: 54px;
  background-position: -140px -3px;
}
.S-r3 {
  width: 65px;
  height: 59px;
  background-position: -200px -3px;
}
.S-r4 {
  width: 60px;
  height: 52px;
  background-position: -3px -68px;
}
.S-r5 {
  width: 63px;
  height: 48px;
  background-position: -69px -68px;
}
.S-r6 {
  width: 47px;
  height: 61px;
  background-position: -138px -68px;
}
.S-r7 {
  width: 60px;
  height: 61px;
  background-position: -191px -68px;
}
.S-r8 {
  width: 63px;
  height: 48px;
  background-position: -3px -135px;
}
.S-rComunityEdition {
  width: 14px;
  height: 13px;
  background-position: -259px -70px;
}
.S-rProcess {
  width: 17px;
  height: 16px;
  background-position: -259px -93px;
}
.S-rSingUp {
  width: 15px;
  height: 14px;
  background-position: -259px -119px;
}
.S-wComunityEdition {
  width: 14px;
  height: 13px;
  background-position: -284px -134px;
}
.S-wProcess {
  width: 17px;
  height: 16px;
  background-position: -308px -134px;
}
.S-wSingUp {
  width: 15px;
  height: 14px;
  background-position: -283px -160px;
}
.top-header {
  background-color: #282828;
}
.contact {
  padding: 10px;
}
.block1-pos {
  text-align: left;
}
.block2-pos {
  text-align: right;
}
.fa-icon a,
span,
i {
  color: #fff;
  padding-right: 5px;
  margin-left: 10px;
}
.navbar {
  margin: 0px;
  padding-top: 16px;
  min-height: 80px;
  font-size: 14px;
}
#Sing_in {
  padding: 8px 25px;
  margin-top: 5px;
  color: #4ca368;
  border: 1px solid #4ca368;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}
#Sing_in:hover {
  color: #fff;
  background-color: #4ca368;
}
.logotype {
  font-family: sans-serif;
  font-size: 30px;
  position: absolute;
  font-family: Roboto;
  color: #6c6f6f;
  text-transform: uppercase;
}
/*-- SLIDER --*/
.slider {
  padding: 40px;
  background-color: #4ca368;
  text-align: center;
/* поміняти шрифт */
  font-family: sans-serif;
}
.slider h3 {
  font-size: 3em;
}
.slider h4 {
  font-size: 1.4em;
}
.img-center {
  padding: 20px;
  margin: 0 auto;
}
/*--- EMAI ---*/
.email {
  background-color: #efefef;
  padding: 15px;
  font-size: 12px;
}
.email-block {
  padding-top: 10px;
}
.email-block input {
  -webkit-border-radius: 15px 0 0 15px;
          border-radius: 15px 0 0 15px;
  padding: 10px;
  width: 183px;
}
.email-block button {
  color: #fff;
  background-color: #5db442;
  -webkit-border-radius: 0 15px 15px 0;
          border-radius: 0 15px 15px 0;
  padding: 10px;
  margin-left: -5px;
  width: 80px;
}
.email-block button:hover {
  background-color: #34a358;
}
.email-block p {
  padding-top: 15px;
  color: #777;
  font-size: 16px;
}
.border {
  border: 1px solid #b1aeae;
}
/*--- community ---*/
.community {
  font-family: Roboto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0px;
  background-image: url("../img/CommunityB.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-clip: border-box;
  -webkit-box-shadow: 0 0 0 1000px rgba(0,0,0,0.42) inset;
          box-shadow: 0 0 0 1000px rgba(0,0,0,0.42) inset;
}
.text-community {
  padding: 25px 0px;
}
.text-community h3 {
  text-align: center;
  color: #fff;
  font-size: 3.5em;
  text-shadow: 3px 2px 1px rgba(0,0,0,0.33);
}
.window {
  text-shadow: 3px 2px 1px rgba(0,0,0,0.33);
  background-color: rgba(255,255,255,0.15);
  text-align: center;
  color: #fff;
}
.window:hover .S-r0 {
  background-position: -74px -137px;
}
.angle span {
  display: block;
  font-size: 3em;
}
.angle i:hover {
  color: #dcdcdc;
  cursor: pointer;
}
.singup {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.fa-icons {
  margin: 10px;
  padding: 10px;
  padding-top: 30px;
}
.com-text {
  text-align: left;
}
.com-text h2 {
  margin-bottom: 5px;
  font-size: 2.2em;
  color: #5db442;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.com-text ul {
  float: left;
  list-style: none;
  margin: 0;
  padding-left: 0;
  font-size: 1.25em;
}
.community-icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 0px;
  text-align: center;
}
.community-icon i {
  font-size: 140%;
  margin: 0px;
  padding: 25px;
  border: 1px solid #4f792b;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  line-height: 50%;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
          box-shadow: 0 0 3px rgba(0,0,0,0.3);
  background-color: #4f792b;
}
.community-icon i:hover {
  border: 1px solid #fff;
  background-color: #fff;
  color: #5db442;
}
.community-icon p {
  padding-top: 5px;
  color: #fff;
}
/*--- Price ---*/
.price {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}
.price h2 {
  text-align: center;
  font-size: 48px;
}
.swich-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px auto;
  text-align: center;
}
.swich-button a {
  text-decoration: none;
}
.swich-button i {
  position: relative;
  color: #fff;
  padding: 6px;
  background-color: #419a5d;
  -webkit-border-radius: 100%;
          border-radius: 100%;
}
.first {
  color: #4ca368;
  border: 1px solid #aaa;
  padding: 10px;
  padding-right: 20px;
  -webkit-border-radius: 20px 0px 0px 20px;
          border-radius: 20px 0px 0px 20px;
  margin-right: -33px;
}
.first:hover {
  color: #fff;
  background-color: #4ca368;
}
.second {
  color: #fff;
  border: 1px solid #aaa;
  background-color: #4ca368;
  padding: 10px;
  padding-left: 20px;
  -webkit-border-radius: 0px 20px 20px 0px;
          border-radius: 0px 20px 20px 0px;
  margin-left: -33px;
}
.second:hover {
  color: #4ca368;
  background-color: #fff;
}
.price-container {
  margin: 20px;
  padding-bottom: 40px;
  font-family: Roboto;
}
.price-block {
  position: relative;
  width: 270px;
  height: 400px;
  margin: 10px;
  border: 1px solid #ececec;
  text-align: center;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.price-block h3 {
  text-transform: uppercase;
}
.price-block hr {
  margin-top: 0px;
  border: none;
  width: 70px;
  height: 3px;
  background-color: #ececec;
}
.price-block:hover hr {
  background-color: #5db442;
}
.price-price {
  position: absolute;
  left: 90px;
  top: 70px;
  padding: 20px;
  border: 1px solid #5db442;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  line-height: 50%;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
          box-shadow: 0 0 3px rgba(0,0,0,0.3);
  background-color: #fff;
  font-size: 1em;
}
.price-price p {
  font-size: 1em;
}
.price-price p:last-child {
  font-size: 80%;
  color: #8b8b8b;
  font-style: italic;
}
.price-price p:last-child {
  font-size: 80%;
  color: #8b8b8b;
  font-style: italic;
}
.price-line {
/* КОСТИЛЬ */
  padding-top: 18%;
  border-bottom: 1px solid #ececec;
}
.price-item {
  position: absolute;
  top: 180px;
  left: 70px;
  color: #929292;
}
.price-item i {
  color: #008000;
  padding-right: 4px;
}
.price-item p {
  color: #777;
  font-weight: 500;
  font-size: 90%;
}
.gray {
  color: #ccc !important;
}
.price-button button {
  position: absolute;
  bottom: 20px;
  left: 80px;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  width: 120px;
  padding: 8px;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button:hover {
  color: #fff;
  background-color: #5db442;
}
/*--- feature ---*/
.feature {
  padding-bottom: 40px;
  background-color: #ececec;
}
.icon-color {
  color: #5db442;
}
.feature-text {
  margin: 20px 0px;
}
.feature-text h3 {
  padding: 10px 0;
  text-align: center;
  font-size: 2.6em;
}
.block-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10px;
  height: 360px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  cursor: pointer;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);
          box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.block-container i {
  min-height: 55px;
  text-align: center;
  margin: 20px;
  margin-top: 40px;
}
.block-container p {
  color: #808080;
  padding: 20px;
}
.block-container h3 {
  font-family: Roboto;
}
.block-container hr {
  margin: 0px auto;
  border: none;
  width: 70px;
  height: 2px;
  background-color: #ececec;
}
.block-container:hover,
.block-container:hover i,
.block-container:hover p {
  background-color: #5db442;
  color: #fff;
}
.block-container:hover .S-r1 {
  background-position: -153px -137px;
}
.block-container:hover .S-r2 {
  background-position: -219px -143px;
}
.block-container:hover .S-r3 {
  background-position: -5px -207px;
}
.block-container:hover .S-r4 {
  background-position: -80px -207px;
}
.block-container:hover .S-r5 {
  background-position: -150px -207px;
}
.block-container:hover .S-r6 {
  background-position: -223px -207px;
}
.block-container:hover .S-r7 {
  background-position: -283px -5px;
}
.block-container:hover .S-r8 {
  background-position: -286px -76px;
}
footer {
  padding: 20px;
  background-color: #efefef;
}
footer a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #575757;
  font-size: 0.8em;
  padding-top: 5px;
}
footer h3 {
  margin: 8px;
  font-size: 1.2em;
  font-family: Roboto;
}
footer h4 {
  font-size: 1em;
  font-family: serif;
  font-family: Roboto;
}
.footer-icon,
.footer-block-main {
  margin: 0px 0px 20px 0px;
  padding: 0px;
}
.footer-block {
  margin: 0px;
  padding: 0px;
}
.footer-button {
  position: absolute;
  width: 100%;
}
.footer-button input {
  padding: 10px;
  width: 80%;
}
.footer-button button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.footer-button button {
  color: #fff;
  background-color: #5db442;
  padding: 10px;
  margin-left: -5px;
  width: 10%;
}
.footer-button button:hover {
  background-color: #34a358;
}
@media screen and (max-width: 460px) {
  .footer-block {
    display: block;
  }
}
@media screen and (max-width: 572px) {
  #sing-in {
    padding: 8px 85px;
    color: #4ca368;
    border: 1px solid #4ca368;
    -webkit-border-radius: 30px;
            border-radius: 30px;
  }
}
@media screen and (max-width: 768px) {
  .block-container {
    margin: 7px 10%;
  }
}
@media screen and (max-width: 992px) {
  .block1-pos {
    text-align: center;
  }
  .block2-pos {
    text-align: center;
  }
  .footer-block-main {
    text-align: center;
    padding-bottom: 40px;
  }
  .footer-block {
    text-align: center;
  }
}
